.game h1 {
  font-size: 2.5em;
    -webkit-text-stroke: 0.5px black; 
}
.points span {
  font-weight: bold;
  -webkit-text-stroke: 0.5px black; 
font-size: 1.5em;
}
.tip{
  font-size: 1.5em;
    -webkit-text-stroke: 0.5px black; 
  }

.tip span {
  color:#8d678d;
  -webkit-text-stroke: 0.5px black; 
text-transform: uppercase;
}


.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 7px solid #e492e4;
  border-radius:20px;
  display: flex;
}
.letter,
.blankSquare {
  
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #e492e4;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #8d678d;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
    -webkit-text-stroke: 0.5px black; 
font-size: 1.5rem;
  font-weight: bold;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
  color: #8d678d;
}
.letterContainer input:focus{
outline:0.8px solid #8d678d;
}

.wrongLettersContainer{
  -webkit-text-stroke: 0.5px black; 
  font-weight: bold;
  font-size: 1.3em;
}
.wrongLettersContainer span{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #8d678d;
  margin-left: 5px;
}